.cardBottom {
    display: flex;

}

.educationSection {
    background-color: lightgrey
}

h5 {
    font-size: 40px;
    font-weight: bold;
    font-family:'Oswald', sans-serif;

}

h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.navbar-nav {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    float:none;
    margin:0 auto;
    text-align: center;
}

.container-fluid {
    padding: 45px;
    height: 600px;
    background-color: rgb(43, 34, 34);
    
}

h5 {
    float: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    
}

hr {
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0 none;
    margin-top: 10x;
    margin-bottom:30px;
    }


#hsmse{
     background-image: url("Johan.jpg");
     background-size: cover;
     background-position: center;
     height: 80vh;
     width: 100%;
     transition: background-image .5s;
     }

#hsmse:hover{
     background-image: url("Capture.PNG") ;
     background-size: cover;
     background-position: center;
     transition: background-image .5s;
     }

#asc{
     background-image: url("code2.jfif");
     background-size: cover;
     background-position: center;
     height: 70vh;
     width: 100%;
     transition: background-image .5s;
     }
#asc:hover{
     background-image: url("code.PNG");
     background-size: cover;
     background-position: center;
     transition: background-image .5s;
     }

#section3{
     background-image: url("download.png");
     background-size: cover;
     background-position: center;
     height: 70vh;
     width: 100%;
     transition: background-image .5s;
     }
   #section3:hover{
     background-image: url("website.PNG");
     background-size: cover;
     background-position: center;
     transition: background-image .5s;
      }
     
#section4{
     background-image: url("Saunders.jfif");
     background-size: cover;
     background-position: center;
     height: 70vh;
     width: 100%;
     transition: background-image .5s;
        }
#section4:hover{
     background-image: url("Saundersbuilding.PNG");
     background-size: cover;
     background-position: center;
     transition: background-image .5s;
         }

